.cookie-header {
    color:  #8252E8;
    font-size: 22px;
}

.cookie-body {
    color:  #8252E8;
    font-size: 12px;
}

.label-text {
    color:  #8252E8;
    font-size: 14px;
    font-weight: 500;
}